<div class="login-wrapper">
    <form class="login" align="center" #userForm="ngForm" (ngSubmit)="sendUser()">
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            Netcracker traffic analyzer!
            <h5 class="hint">Use your Company ID to sign in or create one now</h5>
        </label>
        <div class="login-group">
            <input class="username" type="text" id="name"
                   placeholder="Username" name="name"
                   required [(ngModel)]="user.name" #name="ngModel" minlength="4">
            <input class="password" type="password" id="password"
                   placeholder="Password" name="password"
                   required [(ngModel)]="user.password" #password="ngModel" minlength="4">
            <div class="checkbox" align="left">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Remember me
                </label>
            </div>
            <div class="error active" [hidden]="name.valid && password.valid">
                Invalid user name or password
            </div>
            <div class="error active" style="background-color: limegreen" [hidden]="!name.valid || !password.valid">
                Correct user name and password
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">NEXT</button>
            <a href="javascript://" class="signup">Sign up for a Company ID</a>
        </div>
    </form>
</div>
