<div class="jumbotron">
    <div class="contaier-fluid" style="">
        <h1 style="color: rgb(0,122,190); text-align: center;font-family: 'Monoton', cursive;">
            NetFlow<span style="color: rgb(243,6,38);">.V9</span>Analyzer </h1>
        <h2 style="color: black; text-align: center; font-family: 'Radley', serif;">A part of the project for NetCracker
            educational center.</h2>
        <h5 style="color: black; text-align: center;font-family: 'Radley', serif;">Make NetCracker great again!</h5>


    </div>
</div>


<h4 style="color: black; text-align: center;font-family: 'Radley', serif;">Use side navigation to start.</h4>