<div class="content-container">
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>

    <nav class="sidenav" style="position: relative; margin-top: -10px;height: 710px">
        <section class="sidenav-content">
            <section class="nav-group">
                <ul style="text-align: left" class="nav-list">
                    <li style="margin-top: 20px; margin-bottom: 20px">
                        <a routerLinkActive="active" class="nav-link" [routerLink]="['status']">
                            Status
                        </a>
                    </li>

                    <li style="margin-top: 20px; margin-bottom: 20px">
                        <a routerLinkActive="active" class="nav-link" [routerLink]="['info']">
                            Info
                        </a>
                    </li>
                </ul>
            </section>
        </section>

    </nav>


</div>









