<div style="position: relative">


    <div class="row">
        <div class="col-xs-6" >
            <h2>Link Table( Consist of {{links.length}} links ) </h2>
        </div>

        <div class="col-xs-6">
            <div style="text-align: right; padding-top: 22px">


                Show more than <input [(ngModel)]="maxUtilization" type="number" placeholder="" size="5">

                <button *ngIf="selectedLink" class="btn btn-primary" (click)="showDialog()">Rename</button>
                <button class="btn btn-primary" (click)="refresh()">Refresh</button>
            </div>
        </div>
    </div>

    <div>
        <clr-datagrid [(clrDgSingleSelected)]="selectedLink" [clDgRowSelection]="true">
            <clr-dg-column>Name</clr-dg-column>
            <clr-dg-column>A-Endpoint</clr-dg-column>
            <clr-dg-column>Z-Endpoint</clr-dg-column>
            <clr-dg-column [clrDgField]="'utilization'"
                           [clrDgSortBy]="linkComparator">Utilization</clr-dg-column>

            <clr-dg-row *clrDgItems="let linkToShow of getAllowedLinks()" [clrDgItem]="linkToShow">

                    <clr-dg-cell>{{linkToShow.name}}</clr-dg-cell>
                    <clr-dg-cell>{{linkToShow.source}}</clr-dg-cell>
                    <clr-dg-cell>{{linkToShow.destination}}</clr-dg-cell>
                    <clr-dg-cell>{{linkToShow.utilization}}</clr-dg-cell>

            </clr-dg-row>

        </clr-datagrid>

    </div>
</div>

<!--Выпадающее меню для переименования линки-->
<div *ngIf="isEdit">


    <div class="modal">
        <div class="modal-dialog modal-sm" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Link renaming</h3>
                </div>
                <div class="modal-body"> <!--Body starts here-->
                    <input [(ngModel)]="inName" type="text" placeholder="Type here a new name" size="30">
                </div>

                <div class="modal-footer" >
                    <button class="btn btn-primary" type="button"
                            (click)="showDialog();renameLink();clearInput()">Rename</button>
                    <button (click)="showDialog();clearInput()" class="btn btn-outline" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop" aria-hidden="true"></div>
</div>





<div id="dashboard">

    <div class="row" style="margin-top: 10px; margin-right: 1px; margin-left: 10px">
        <div class="col-xs-3" >
            <div *ngIf="statisticService.getSelectedLink()" style="text-align: left">
                <button type="button" class="btn btn-inverse" (click)="goToStatistics(false)">
                    Back to statistics
                </button>
            </div>
        </div>
        <div class="col-xs-6">
            <div *ngIf="selectedLink" style="text-align: center;position: relative; top: 7px">
                <span class="label label-info" style="width: 400px; height: 35px; font-size: 140%">{{selectedLink.source}}    <---->     {{selectedLink.destination}}</span>
            </div>
        </div>

        <div class="col-xs-3">
            <div *ngIf="selectedLink" style="text-align: right">
                <button type="button" class="btn btn-inverse" (click)="goToStatistics(true)">
                    Start Tracking!
                </button>
            </div>
            <div *ngIf="!selectedLink" style="text-align: right">
                <button type="button" class="btn btn-inverse" disabled>
                    Start Tracking!
                </button>
            </div>

        </div>
    </div>
</div>


