button
{
    text-align: left;

}


#settings {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

#dashboard {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 70px;
    border-radius: 7px 7px 0px 0px;
    background-color: #0077c1;
}