<div *ngIf="statisticService.getSelectedLink()">
    <div class="row" style="height: 600px; margin-top: 10px">
        <div class="col-sm-9">
            <clr-tabs>

                <clr-tab>
                    <button clrTabLink>Realtime</button>
                    <ng-template [(clrIfActive)]="managementActive">
                        <clr-tab-content style="padding-top: 20px">
                            <div style="padding-top: 48px">
                                <app-realtime></app-realtime>
                            </div>
                        </clr-tab-content>
                    </ng-template>
                </clr-tab>

                <clr-tab>
                    <button clrTabLink>1 day before</button>
                    <ng-template [(clrIfActive)]="cloudActive">
                        <clr-tab-content>
                            <div style="padding-top: 48px">
                                <static-days-graph [days]="1"></static-days-graph>
                            </div>
                        </clr-tab-content>
                    </ng-template>
                </clr-tab>

                <clr-tab>
                    <button clrTabLink>3 days before</button>
                    <ng-template [(clrIfActive)]="infrastructureActive">
                        <clr-tab-content>
                            <div style="padding-top: 48px">
                                <static-days-graph [days]="3"></static-days-graph>
                            </div>
                        </clr-tab-content>
                    </ng-template>
                </clr-tab>

                <clr-tab>
                    <button clrTabLink (click)="showModal = true">Custom</button>
                    <ng-template [(clrIfActive)]="customActive">
                        <clr-tab-content>

                            <div class="row">
                                <div class="col-sm-4" style="text-align: left">
                                    <button type="button" class="btn btn-link" (click)="showModal = true">
                                        Change settings
                                    </button>
                                </div>
                                <div class="col-sm-4" style="text-align: right">
                                    <div *ngIf="isReady">
                                        <p>{{dateFrom}} - {{dateTo}}</p>
                                    </div>
                                </div>
                                <div class="col-sm-4" style="text-align: right">
                                    <div *ngIf="isReady">
                                        <p>{{pointsPerDay}} points per day</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <app-custom></app-custom>
                            </div>


                            <clr-modal [clrModalSize]="'sm'" [(clrModalOpen)]="showModal"
                                       [clrModalStaticBackdrop]="true">
                                <h3 class="modal-title">Your Settings</h3>
                                <div class="modal-body">
                                    <p>From: <input [(ngModel)]="localDateFrom" type="date" id="from" size="35"></p>
                                    <p>To: <input [(ngModel)]="localDateTo" type="date" id="to" size="35"></p>
                                    <p>Ponts per day: <select id="localPointsPerDay" [(ngModel)]="localPointsPerDay">
                                        <option>12</option>
                                        <option>24</option>
                                        <option>36</option>
                                        <option>48</option>
                                        <option>60</option>
                                    </select>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline" (click)="cancelModal()">Cancel
                                    </button>
                                    <button type="button" class="btn btn-primary" (click)="okModal()">Ok</button>
                                </div>
                            </clr-modal>

                        </clr-tab-content>
                    </ng-template>
                </clr-tab>
            </clr-tabs>
        </div>


    <div class="col-sm-3" style="padding-top: 29px; height:480px; overflow: auto;">
        <div>
            <div class="alert alert-success">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                        </div>
                        <span class="alert-text">Everything is okey!</span>
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="notifications.length">
            <div *ngFor="let notification of notifications">
                <clr-alert [clrAlertType]="alert-danger">
                    <div clr-alert-item class="alert-item">
                    <span class="alert-text">
                        High utilization was {{notification.date.toDateString()}} at {{notification.date.toTimeString().slice(0,8)}}. See static graphics to know more.
                    </span>
                    </div>
                </clr-alert>
            </div>
        </div>
    </div>
</div>

</div>


<div *ngIf="statisticService.getSelectedLink()" id="dashboard">

    <div class="row" style="margin-top: 10px; margin-right: 1px; margin-left: 10px">
        <div class="col-xs-3">

        </div>
        <div class="col-xs-6">
            <div style="text-align: center;position: relative; top: 7px">
                <span class="label label-info" style="width: 400px; height: 35px; font-size: 140%">{{statisticService.getSelectedLink().source}}    <---->     {{statisticService.getSelectedLink().destination}}</span>
            </div>
        </div>

        <div class="col-xs-3" style="text-align: right;">
            <div>
                <button type="button" class="btn btn-inverse" style="width: 155px" (click)="goToSettings()">
                    Change Link
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!statisticService.getSelectedLink()">
    <clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false">
        <h3 class="modal-title">Attention!</h3>
        <div class="modal-body">
            <p>Go to settings and select link!</p>
        </div>
        <div class="modal-footer">

            <button class="btn btn-outline" type="button" (click)="opened = false">Cancel</button>
            <button class="btn btn-primary" type="button" (click)="opened = false; goToSettings()">Ok</button>

        </div>
    </clr-modal>
</div>