<div class="row" style="top: -100px">
    <div class="col-sm-12 col-md-8" style="padding-right: 50px; padding-top: 5px">


        <!--<div class="col-sm-5">-->
        <!--<input type="text" auto-complete [(ngModel)]="selectedIp" [source]="ipList" display-property-name="ipList.ip" />-->

        <!--</div><br/>-->


        <clr-datagrid *ngIf="ipList" [(clrDgSingleSelected)]="selectedIp">
            <clr-dg-column>ipSource</clr-dg-column>
            <clr-dg-column>Port</clr-dg-column>


            <clr-dg-row *clrDgItems="let ip of ipList" [clrDgItem]="ip">
                <clr-dg-cell>{{ip.ip}}</clr-dg-cell>
                <clr-dg-cell>{{ip.port}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} users
                <clr-dg-pagination #pagination [clrDgPageSize]="5"></clr-dg-pagination>
            </clr-dg-footer>

        </clr-datagrid>

    </div>


    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-header">
                Track your network!
            </div>
            <div class="card-block" style="height: 202px">
                <div class="card-title">
                    Select ip in the table:
                </div>
                <div class="card-text">
                    <p>Selected ip: <span *ngIf="selectedIp">{{selectedIp.ip}}</span></p>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-12 col-md-6" style="margin: auto">
                                <div class="radio">
                                    <input type="radio" name="gridRadios" id="realTime" (click)="setRealTime(true)" [(ngModel)]="selectedRegime"
                                           value="realTime">
                                    <label for="realTime">RealTime</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="gridRadios" id="1day" (click)="setRealTime(false)" [(ngModel)]="selectedRegime"
                                           value="1">
                                    <label for="1day">1 day</label>
                                </div>

                            </div>
                            <div class="col-sm-12 col-md-6" style="margin: auto">
                                <div class="radio">
                                    <input type="radio" name="gridRadios" id="3days"  (click)="setRealTime(false)" [(ngModel)]="selectedRegime"
                                           value="3">
                                    <label for="3days">3 days</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="gridRadios" id="5days"  (click)="setRealTime(false)" [(ngModel)]="selectedRegime"
                                           value="5">
                                    <label for="5days">5 days</label>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link" (click)="startTracking();">Start tracking!</button>

            </div>
        </div>

    </div>
</div>

<div class="row" *ngIf="selectedIp">

    <div *ngIf="isRealTime">
        <app-realtime-stat></app-realtime-stat>
    </div>

    <div *ngIf="!isRealTime">
        <app-days-stat></app-days-stat>
    </div>
</div>


