input {
    margin-right: 10px;
}
button.RUN {
    background-color: rgba(0,205,0,0.41);
}
button.STOP {
    background-color: rgba(255,0,0,0.67);
}
div{
    text-align: center;
    margin-top: 3em;
}