<div>
    <!--TODO add //*ngIf="sniffer"// in the div below!-->
    <div>
        <h2 style="text-align: center;">Current sniffer's status on server: <span *ngIf="sniffer">{{sniffer.status}} on port -
            {{sniffer.port}}</span></h2>
        <p>
            Type the port to execute below.
        </p>
        <div>
            <div class="container">

                <input [(ngModel)]="portToExecute" type="text" required minlength="4" placeholder="Type the port here"/>
                <button class="btn btn-primary btn-sm" (click)="runSniffer()">
                    Run Sniffer
                </button>
                <button class="btn btn-warning btn-sm" (click)="stopSniffer() ">
                    Stop Sniffer
                </button>

            </div>
        </div>
    </div>
</div>

