<div class="row">
    <div class="col-xs-6" >
        <div class="card" id="left" >
            <div class="card-img" >
                    <img id="first" style="border-radius: 30px 30px 0 0; max-height: 300px" src="assets/images/left.jpg">
            </div>
            <div class="card-block" style="background-color: #0077c1">
                <h4 class="card-title">Physical links</h4>
                <p class="card-text">
                    Look utilization on your real physical links in your network!
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="color: #0077c1">1) Select link from the table.</li>
                <li class="list-group-item">2) Watch utilization.</li>
                <li class="list-group-item">3) Don't be afraid of departing. We have notifications.</li>
            </ul>
            <div class="card-footer">
                <a href="#" [routerLink]="['/settings']" class="btn btn-inverse">
                    <clr-icon shape="play" class="is-solid"></clr-icon>
                    Start
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="card">
            <div class="card-img" >
                <img  style="border-radius: 30px 30px 0 0; max-height: 300px;" src="assets/images/right.jpg">
            </div>
            <div class="card-block" style="background-color: #0077c1" >
                <h4 class="card-title">Logical links</h4>
                <p class="card-text">
                    Look utilization between any two hosts in your network!
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">1) Select IP-source and IP-destination.</li>
                <li class="list-group-item">2) Watch utilization.</li>
                <li class="list-group-item">3) Get notifications about high utilization.</li>
            </ul>
            <div class="card-footer">
                <a href="#" [routerLink]="['/netflow']" class="btn btn-inverse">
                    <clr-icon shape="play" class="is-solid"></clr-icon>
                    Start</a>
            </div>
        </div>
    </div>
</div>

