li {
    color: #0077c1;
    height: 75px
}


@media only screen and (min-width: 900px) {
    li {
        color: #0077c1;

    }
}

img {

}
div.card{
    border-radius: 30px 30px 10px 10px
}
div.card-footer{
    border-radius: 0 0 10px 10px
}
div.row {
    margin-right: 20px;
    margin-left: 20px;
}
div.card-footer {
    background-color: #0077c1;
    text-align: right
}
h4,p {
    color: white;
}
div.card-block {
    text-align: center;
}
a {
    width: 110px;
}