/* You can add global styles to this file, and also import other style files */
body {
	font-family: verdana, arial, sans-serif; font-size: 13px;

}
div.container-fluid {


}
div.jumbotron {
    background-color: rgb(250, 250, 250);
}

